div{

	background-color: #008ae6;
	height: 200px;
	width: 400px;
	margin-left: 400px;
	margin-top: 50px;
	padding: 20px;
}

label{
	margin: 5px;
}

input{
	margin: 5px;
	border-radius: 5px;
}
button{
	background-color: green;
	border-style: none;
	border-radius: 5px;
	padding: 3px;
	margin-top: 30px;
	color: white;
}